<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
          = `${_siteName}, tablón de imágenes (imageboard) en español`
        link(rel="stylesheet", href="/css/hispachan.css")
        link(rel="stylesheet", href="/css/site_hispachan.css")
    body
        div.logo-container
          div.site-name= _siteName
          div.page-icon
        div.boards-head
          include layouts/site_description.pug
        div.boards-body
            div.info
                div.sub-title 
                    b INFORMACION
                a.board-link(href="/reglas") • Info/Reglas
                a.board-link(href="/contacto") • Contacto
            div.sections
                each section in sections
                    div.section
                        div.sub-title
                            b= section.name
                        each board in section.boards
                            div.board
                                if board.flag
                                    img(src=`/assets/countryballs/${board.flag}`, alt=`/${board.name}/`)
                                    | &nbsp;
                                a(href=`/${board.name}/`).board-desc= `${board.flag?'':'•'} ${board.desc}`
                                span.board-name= ` /${board.name}/`
        div.boards-footer
          include layouts/disclaimer.pug
        div.boards-copyright
            a(href="/") Inicio
            |  &nbsp;|&nbsp;
            a(href="/reglas") Información
            |  &nbsp;|&nbsp;
            a(href="/contacto") Contacto
            br
            a(href="/")= _siteName
            | &nbsp;&copy; 2020.
