div.postarea
  postbox(
      post-type='Reply',
      boardid=board._id,
      boardname=board.name,
      threadid=thread._id,
      threadseqid=thread.seq_id
    )
    table.postform
      tbody
        tr
          td
          td
            input(type="submit", value="Enviar", class="enviar")
        tr
          td.postblock Post
          td
            textarea(style="vertical-align: top;", maxlength="8000" name="message", cols="46", rows="9")
  div.posting-filetypes
    =`Tipos de archivo: ${board.allowed_filetypes.join(', ')}. Tamaño máximo: ${board.max_file_size}`
