div.thread(data-contents=thread)
  span.threadinfo
    input(type="checkbox", value=thread.seq_id)
    span.title
      = thread.title
    span.postername
      = thread.name?thread.name:'Anonymous'
    span.timestamp
      = thread.timestamp
    span.reflink
      a( 
        href = `/${board.name}/thread/${thread.seq_id}/`
        title = 'Obtener link a este post'
      )
        = `#${thread.seq_id}`
    if page.key === 'boardpage'
      span.response-btn
        a( href = `/${board.name}/thread/${thread.seq_id}/` ) Responder
  div.thread-contents
    if thread.file
      a(href=thread.file.url).post-file
        span.thumb
          img(src=thread.file.thumbnailUrl)
    blockquote.post-message
      != thread.message
  div.replies
    each reply in thread.replies
      include reply.pug

hr.thread-separator
