div.thread(data-contents=thread)
    div.thread-head
        span.threadinfo
            input(type="checkbox", value=thread.seq_id)
            span.filetitle
                = thread.title
            span.postername
                = thread.name?thread.name:'Anonymous'
            span.timer
                = thread.timestamp
            span.reflink
                a( 
                    href = `/${board.name}/thread/${thread.seq_id}/`
                    title = 'Obtener link a este post'
                ).reflink2 /#/
                a.reflinks
                    = thread.seq_id
        if page.key === 'boardpage'
            span.responder
                a( href = `/${board.name}/thread/${thread.seq_id}/` )#botonresp Responder
    blockquote
        != thread.message
    div.replies
        each reply in thread.replies
            include reply.pug

hr.thread-separator
